<div class="container mt-4 details">
  <div class="row">
    <!-- Detail View Section -->
    <div class="col-12">
      <div class="card">
        <div class="row">
          <!-- Item Image -->
          <div class="col-md-6">
            <img src="{{item.url}}" class="card-img-top" alt="Item image">
          </div>
          <div class="col-md-6">
            <div class="card-body h-100">
              <!-- Product Title -->
              <h3 class="card-title py-2">{{ item?.name }}</h3>
              <p class="card-text">{{ 'Home.Price' | translate }}: <strong>{{ item?.price }} zł</strong></p>
              <p class="card-text">{{ 'Home.Description' | translate }}: </p>
              <p>{{ item?.description }}</p>
              <p class="card-text ml-auto">{{ 'Home.CreateDate' | translate }}: {{ item?.created | date:'shortDate' }}</p>
              <a mat-icon-button (click)="addCart($event, item)" class="add-to-cart-button">
                <mat-icon>add_shopping_cart</mat-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>