<div class="container mt-4">
  <div class="row">
    <div class="col-sm-12 col-md-3 mb-3" *ngFor="let item of items">
      <a class="card hoverEffect" >
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Item image" [routerLink]="['/home/details']" [queryParams]="{ id: item?.id }">
        <a class="card-body" [routerLink]="['/home/details']" [queryParams]="{ id: item?.id }">
          <h5 class="card-title">{{ item?.title }}</h5>
          <p class="card-text">{{ item?.price }} zł</p>
        </a>
        <a mat-icon-button (click)="addCart($event, item.id)" class="add-to-cart-button">
          <mat-icon>add_shopping_cart</mat-icon>
        </a>
        
      </a>
    </div>
  </div>
</div>
