
<div class="container mt-4 ">
  <div class="col-12">
    <div class="card mb-3" style="flex-direction: row;">
      <form [formGroup]="searchForm" style="width: 90%; display: flex; gap: 2%">
        <div class="col-3" style="display: flex;">
          <input type="text" id="searchTerm" class="form-control" formControlName="searchTerm"  [placeholder]="'Home.Search' | translate">
        </div>
        <div class="col-3">
            <select formControlName="category" class="form-control">
              <option value="" disabled selected>
                {{ 'Home.Category' | translate }}
              </option>
              <option *ngFor="let category of categories" [value]="category.id">
                {{ ('Enum.Category.' + category.id) | translate }}
              </option>
            </select>
        </div>
        <div class="col-3">
          <select formControlName="material" class="form-control">
            <option value="" disabled selected>
              {{ 'Home.Material' | translate }}
            </option>
            <option *ngFor="let material of materials" [value]="material.id">
              {{ ('Enum.Material.' + material.id) | translate }}
            </option>
          </select>
        </div>
        <div class="col-3">
            <select formControlName="gender" class="form-control">
              <option value="" disabled selected>
                {{ 'Home.Gender' | translate }}
              </option>
              <option *ngFor="let gender of genders" [value]="gender.id">
                {{ ('Enum.Gender.' + gender.id) | translate }}
              </option>
            </select>
        </div>
        <a mat-icon-button (click)="clearSearch($event)" class="btn btn-borderless" style="margin-top: 0" [title]="'Home.RemoveSearch' | translate">
          <mat-icon>delete</mat-icon>
        </a>
       
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-3 mb-3" *ngFor="let item of items">
      <a class="card hoverEffect" >
        <img src="{{item.url}}" class="card-img-top" alt="Item image" [routerLink]="['/details']" [queryParams]="{ id: item?.id }">
        <a class="card-body" [routerLink]="['/details']" [queryParams]="{ id: item?.id }">
          <h5 class="card-title">{{ item?.name }}</h5>
          <p class="card-text">{{ item?.price }} zł</p>
        </a>
        <a mat-icon-button (click)="addCart($event, item)" class="add-to-cart-button">
          <mat-icon>add_shopping_cart</mat-icon>
        </a>
        
      </a>
    </div>
  </div>
  <div class="col-12">
    <div class="card mb-3" style="flex-direction: row; ">
      <form [formGroup]="searchForm" style="width: 100%; display: flex; justify-content: space-between;">
        <a mat-icon-button (click)="changePage(-1)" class="btn btn-borderless" [title]="'Home.PrevPage' | translate">
          <mat-icon>arrow_back</mat-icon>
        </a>
        <a mat-icon-button (click)="changePage(1)" class="btn btn-borderless" [title]="'Home.PrevPage' | translate">
          <mat-icon>arrow_forward</mat-icon>
        </a>
       
      </form>
    </div>
  </div>
</div>
